<nav>
    <p>nav</p>
    <ul class="nav_links">
        <li><a href="/" alt="next">home</a></li>
        <li><a href="/page" alt="next">page</a></li>
        <li><a href="/page1" alt="next">page1</a></li>
    </ul>
</nav>