<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Responses:</h2>
    <ul>
        <% responses.forEach(function(response) { %>
            <li><%= response.lista %>, <%= response.lista2 %></li>
        <% }); %>
    </ul>
    <!-- <p>hej</p> -->
</body>
</html>